body {
    font-family: 'Lato', sans-serif;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.name-color{
    color: rgb(155, 13, 13);
}
section.top-banner {
    display: flex;
    justify-content: space-evenly;
}
section.second-banner{
    display: flex;
    justify-content: space-evenly;
}
div.flexible-container{
    display: flex;
    justify-content: space-evenly;
}
.half-width{
    width: 50%;
}
.half-width img{
    width: 70%;
  
   
}


.Right-text{
    width: 80%;
}
p{
    margin-bottom: 20px;
    text-align: justify;
    letter-spacing: 0.4;
    line-height: 1.25;
}
#banner-picture1{
    max-width: 570px;
    max-height: 570px;
    
}
.link-button {
    text-decoration:none ;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: black;
    
    

}
#banner-picture1{
    margin-left: 70px;
}
#banner-picture2{
    margin-left: 30px;
    margin-top: 30px;
}
#banner_blog1{
    margin-left: 40px;
}
#banner_blog2{
    padding-right: 120px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.second-banner{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.orange-color{
    color: orange;
}
.experiences{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;

}
#experiences0{
    margin-left: 30px;
}
.experiences-items{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;
    
}
#Baby-Web{
    border-left: 7px solid blue;
}
#Full-Stack-Web{
    border-left: 7px solid tomato;
}

footer p{
    text-align: center;
    
}
.ft-section p{
    margin-top: 70px;
}