body {
    font-family: 'Lato', sans-serif;
}
h1{
    font-size: 50px;
}
.name-color{
    color: rgb(155, 13, 13);
}
section {
    display: flex;
}
.half-width{
    width: 50%;
}
.half-width img{
  
    size: 20px;
}
.link-button {
    text-decoration:none ;
    background-color: chocolate;
    padding: 10px 40px;
    border-radius: 5px;
    color: black;
    
    

}
