body {
    font-family: 'Lato', sans-serif;
}
h1{
    font-size: 50px;
}
.name-color{
    color: rgb(155, 13, 13);
}
section.top-banner {
    display: flex;
    justify-content: space-evenly;
}
section.dream_big{
    display: flex;
    justify-content: space-evenly;
}
.half-width{
    width: 50%;
}
.half-width img{
    width: 70%;
  
   
}
p{
    margin-bottom: 20px;
    text-align: justify;
    letter-spacing: 0.4;
    line-height: 1.25;
}
#banner-picture1{
    max-width: 570px;
    max-height: 570px;
    
}
.link-button {
    text-decoration:none ;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: black;
    
    

}
#banner-picture1{
    margin-left: 70px;
}
#banner-picture2{
    margin-left: 30px;
    margin-top: 30px;
}
#banner_blog1{
    margin-left: 40px;
}
#banner_blog2{
    padding-right: 120px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream_big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
